<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD18S0LMQmd20st2zGsHn7ZrsZXhYWV18c</string>
	<key>GCM_SENDER_ID</key>
	<string>697521272895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Project</string>
	<key>PROJECT_ID</key>
	<string>find-sut</string>
	<key>STORAGE_BUCKET</key>
	<string>find-sut.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:697521272895:ios:3ef911d434a652086da08a</string>
	<key>NsLocationWhenInUseUsageDescription</key>
	<string>&quot;แอปต้องการตำแหน่งของคุณเพื่อระบุจุดที่พบหรือหายของ&quot;</string>
</dict>
</plist>
